.upload-form {
    margin-bottom: 20px;
}

.upload-button {
  width: 100%;
}

.progress-data {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.progress-data .progress {
  height: auto;
  font-size: inherit;
  border-radius: 0.25em 0 0 0.25em;
}

.progress-data button {
  border-radius: 0 0.25em 0.25em 0;
}

.recarregar {
  text-decoration: underline;
  cursor: pointer;
}